// Reset slick slider css
.slick-prev {
    left: -10px !important;
    z-index: 1000 !important;
    height: 48px !important;
    width: 44px !important;
    background: #fff !important;
    border: 2px solid #d7d7d7 !important;

    &:hover {
        background: #eceaea !important;
    }
}

.slick-prev::before,
.slick-next::before {
    font-family: FontAwesome !important;
    color: red !important;
    // content: "\f060" !important;
}
.slick-disabled {
    display: none !important;
}
.slick-next {
    right: -10px !important;
    z-index: 1000 !important;
    height: 48px !important;
    width: 44px !important;
    background: #fff !important;
    border: 2px solid #d7d7d7 !important;

    &:hover {
        background: #eceaea !important;
    }
}
.trending-container {
    display: flex;
    flex-direction: column;
    .trending-title {
        color: #e54d3e;
        font-size: 1.875rem;
        line-height: 2.25rem;
        border-bottom: 5px solid #fc2;
        padding-bottom: 1rem;
        padding-top: 1rem;
        font-weight: 700;
    }

    .trending-image {
        width: 347;
        height: 277px;

        img {
            width: 100%;
            height: 100%;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
}
