.about-container {
    .about-banner {
        img {
            transition: transform 0.3s;

            border-radius: 5px;
            &:hover {
                transform: scale(1.02);
            }
        }
    }

    .about-introduce {
        h2 {
            line-height: 1.5rem;
            font-weight: 700;
            color: #fc2;
        }
        p {
            font-size: 1.125rem;
            line-height: 1.75rem;
        }
        img {
            transition: transform 0.3s;

            &:hover {
                transform: scale(1.02);
            }
            border-radius: 5px;
        }
    }

    .about-mission {
        h2 {
            line-height: 1.5rem;
            font-weight: 700;
            color: #fc2;

            &:before {
                content: "";
                background: #fc3;
                padding: 0px 2px 0px 5px;
                margin-right: 0.5rem;
            }
        }
        p {
            font-size: 1.125rem;
            line-height: 1.75rem;
        }
    }
    .about-vision {
        h2 {
            line-height: 1.5rem;
            font-weight: 700;
            color: #fc2;

            &:before {
                content: "";
                background: #fc3;
                padding: 0px 2px 0px 5px;
                margin-right: 0.5rem;
            }
        }
        p {
            font-size: 1.125rem;
            line-height: 1.75rem;
        }
    }
}
