USE [DLCT]
GO
/****** Object:  Table [dbo].[BILL]    Script Date: 12/22/2023 6:59:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BILL](
	[Bill_id] [int] IDENTITY(1,1) NOT NULL,
	[Created_at] [datetime] NULL,
	[Date] [datetime] NOT NULL,
	[Client_id] [int] NULL,
 CONSTRAINT [PK_BILL] PRIMARY KEY CLUSTERED 
(
	[Bill_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BILLDETAIL]    Script Date: 12/22/2023 6:59:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BILLDETAIL](
	[Bill_id] [int] NOT NULL,
	[Product_id] [int] NOT NULL,
	[Quantity] [int] NULL,
	[Price] [float] NULL,
 CONSTRAINT [PK_BILLDETAIL] PRIMARY KEY CLUSTERED 
(
	[Bill_id] ASC,
	[Product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BLOG_CATEGORIES]    Script Date: 12/22/2023 6:59:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BLOG_CATEGORIES](
	[Blog_category_id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](500) NULL,
	[Description] [nvarchar](500) NULL,
 CONSTRAINT [PK_BLOG_CATEGORIES] PRIMARY KEY CLUSTERED 
(
	[Blog_category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BLOG_POSTS]    Script Date: 12/22/2023 6:59:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BLOG_POSTS](
	[Blog_post_id] [int] IDENTITY(1,1) NOT NULL,
	[Titile] [nvarchar](100) NULL,
	[Body] [nvarchar](500) NULL,
	[Thumbnail] [nvarchar](250) NULL,
	[Date_time] [datetime] NULL,
	[Blog_category_id] [int] NULL,
	[Staff_id] [int] NULL,
 CONSTRAINT [PK_BLOG_POSTS] PRIMARY KEY CLUSTERED 
(
	[Blog_post_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BOOKING]    Script Date: 12/22/2023 6:59:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOKING](
	[Booking_id] [int] IDENTITY(1,1) NOT NULL,
	[Client_id] [int] NULL,
	[Staff_id] [int] NULL,
	[Name] [nvarchar](100) NULL,
	[Phone] [varchar](10) NULL,
	[Date_time] [datetime] NULL,
	[Note] [nvarchar](255) NULL,
	[Status] [bit] NULL,
	[Combo_id] [int] NULL,
	[Created_at] [datetime] NULL,
	[Branch_id] [int] NULL,
 CONSTRAINT [PK_BOOKING] PRIMARY KEY CLUSTERED 
(
	[Booking_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BOOKINGDETAIL]    Script Date: 12/22/2023 6:59:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOKINGDETAIL](
	[Booking_id] [int] NOT NULL,
	[Service_id] [int] NOT NULL,
	[Price] [float] NULL,
 CONSTRAINT [PK_BOOKINGDETAIL] PRIMARY KEY CLUSTERED 
(
	[Booking_id] ASC,
	[Service_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BRANCH]    Script Date: 12/22/2023 6:59:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BRANCH](
	[Branch_id] [int] IDENTITY(1,1) NOT NULL,
	[Address] [nvarchar](255) NULL,
	[Hotline] [varchar](10) NULL,
 CONSTRAINT [PK_BRANCH] PRIMARY KEY CLUSTERED 
(
	[Branch_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CART]    Script Date: 12/22/2023 6:59:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CART](
	[user_id] [int] NOT NULL,
	[Product_id] [int] NOT NULL,
	[Quantity] [int] NULL,
 CONSTRAINT [PK_CART] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[Product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENT]    Script Date: 12/22/2023 6:59:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENT](
	[Client_id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Username] [varchar](255) NULL,
	[Password] [varchar](255) NULL,
	[Phone] [varchar](10) NULL,
	[Avatar] [varchar](255) NULL,
	[Address] [nvarchar](255) NULL,
	[Email] [varchar](255) NULL,
	[Role_id] [int] NULL,
	[Created_at] [datetime] NULL,
	[Updated_at] [datetime] NULL,
	[Created_by] [nvarchar](255) NULL,
	[Updated_by] [nvarchar](255) NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_CILENT] PRIMARY KEY CLUSTERED 
(
	[Client_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMBO]    Script Date: 12/22/2023 6:59:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMBO](
	[Combo_id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Price] [float] NULL,
	[Created_at] [datetime] NULL,
	[Created_by] [int] NULL,
	[Updated_at] [datetime] NULL,
	[Updated_by] [int] NULL,
 CONSTRAINT [PK_COMBO] PRIMARY KEY CLUSTERED 
(
	[Combo_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMBODETAIL]    Script Date: 12/22/2023 6:59:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMBODETAIL](
	[Combo_id] [int] NOT NULL,
	[Service_id] [int] NOT NULL,
	[Price] [float] NULL,
 CONSTRAINT [PK_COMBODETAIL] PRIMARY KEY CLUSTERED 
(
	[Combo_id] ASC,
	[Service_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCT]    Script Date: 12/22/2023 6:59:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT](
	[Product_id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Description] [nvarchar](255) NULL,
	[Price] [float] NULL,
	[Quantity] [int] NULL,
	[Product_type_id] [int] NULL,
	[Image] [nvarchar](200) NULL,
	[Provider_id] [int] NULL,
	[Created_at] [datetime] NULL,
	[Created_by] [int] NULL,
	[Updated_at] [datetime] NULL,
	[Updated_by] [int] NULL,
	[Sold] [int] NULL,
 CONSTRAINT [PK_PRODUCT] PRIMARY KEY CLUSTERED 
(
	[Product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTTYPE]    Script Date: 12/22/2023 6:59:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTTYPE](
	[Product_type_id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
 CONSTRAINT [PK_PRODUCT TYPE] PRIMARY KEY CLUSTERED 
(
	[Product_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROVIDER]    Script Date: 12/22/2023 6:59:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROVIDER](
	[Provider_id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Address] [nvarchar](255) NULL,
	[Phone] [char](10) NULL,
	[Email] [nvarchar](255) NULL,
 CONSTRAINT [PK_PROVIDER] PRIMARY KEY CLUSTERED 
(
	[Provider_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLE]    Script Date: 12/22/2023 6:59:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLE](
	[Role_id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
 CONSTRAINT [PK_ROLE] PRIMARY KEY CLUSTERED 
(
	[Role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SCHEDULE]    Script Date: 12/22/2023 6:59:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SCHEDULE](
	[Schedule_id] [int] IDENTITY(1,1) NOT NULL,
	[Time] [time](7) NULL,
 CONSTRAINT [PK_SCHEDULE] PRIMARY KEY CLUSTERED 
(
	[Schedule_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SCHEDULEDETAIL]    Script Date: 12/22/2023 6:59:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SCHEDULEDETAIL](
	[Schedule_id] [int] NOT NULL,
	[Staff_id] [int] NOT NULL,
	[Date] [date] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_SCHEDULE DETAIL] PRIMARY KEY CLUSTERED 
(
	[Schedule_id] ASC,
	[Staff_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SERVICE]    Script Date: 12/22/2023 6:59:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERVICE](
	[Service_id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Price] [float] NULL,
	[Status] [bit] NULL,
	[Service_type_id] [int] NULL,
	[Created_at] [datetime] NULL,
	[Created_by] [int] NULL,
	[Updated_at] [datetime] NULL,
	[Updated_by] [int] NULL,
 CONSTRAINT [PK_SERVICE] PRIMARY KEY CLUSTERED 
(
	[Service_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SERVICETYPE]    Script Date: 12/22/2023 6:59:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERVICETYPE](
	[Service_type_id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
 CONSTRAINT [PK_ServiceType] PRIMARY KEY CLUSTERED 
(
	[Service_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STAFF]    Script Date: 12/22/2023 6:59:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STAFF](
	[Staff_id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Username] [varchar](255) NULL,
	[Password] [varchar](255) NULL,
	[Phone] [varchar](10) NULL,
	[Avatar] [varchar](255) NULL,
	[Address] [nvarchar](255) NULL,
	[Email] [varchar](255) NULL,
	[Status] [bit] NULL,
	[IsDisabled] [bit] NULL,
	[Role_id] [int] NULL,
	[Created_at] [datetime] NULL,
	[Updated_at] [datetime] NULL,
	[Created_by] [nvarchar](255) NULL,
	[Updated_by] [nvarchar](255) NULL,
	[Branch_id] [int] NULL,
 CONSTRAINT [PK_STAFF] PRIMARY KEY CLUSTERED 
(
	[Staff_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PRODUCT] ADD  CONSTRAINT [DF_PRODUCT_Sold]  DEFAULT ((0)) FOR [Sold]
GO
ALTER TABLE [dbo].[BILL]  WITH CHECK ADD  CONSTRAINT [FK_BILL_CILENT] FOREIGN KEY([Client_id])
REFERENCES [dbo].[CLIENT] ([Client_id])
GO
ALTER TABLE [dbo].[BILL] CHECK CONSTRAINT [FK_BILL_CILENT]
GO
ALTER TABLE [dbo].[BILLDETAIL]  WITH CHECK ADD  CONSTRAINT [FK_BILLDETAIL_BILL] FOREIGN KEY([Bill_id])
REFERENCES [dbo].[BILL] ([Bill_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BILLDETAIL] CHECK CONSTRAINT [FK_BILLDETAIL_BILL]
GO
ALTER TABLE [dbo].[BILLDETAIL]  WITH CHECK ADD  CONSTRAINT [FK_BILLDETAIL_PRODUCT1] FOREIGN KEY([Product_id])
REFERENCES [dbo].[PRODUCT] ([Product_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BILLDETAIL] CHECK CONSTRAINT [FK_BILLDETAIL_PRODUCT1]
GO
ALTER TABLE [dbo].[BLOG_POSTS]  WITH CHECK ADD  CONSTRAINT [FK_BLOG_POSTS_BLOG_CATEGORIES] FOREIGN KEY([Blog_category_id])
REFERENCES [dbo].[BLOG_CATEGORIES] ([Blog_category_id])
GO
ALTER TABLE [dbo].[BLOG_POSTS] CHECK CONSTRAINT [FK_BLOG_POSTS_BLOG_CATEGORIES]
GO
ALTER TABLE [dbo].[BLOG_POSTS]  WITH CHECK ADD  CONSTRAINT [FK_BLOG_POSTS_STAFF] FOREIGN KEY([Staff_id])
REFERENCES [dbo].[STAFF] ([Staff_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BLOG_POSTS] CHECK CONSTRAINT [FK_BLOG_POSTS_STAFF]
GO
ALTER TABLE [dbo].[BOOKING]  WITH CHECK ADD  CONSTRAINT [FK_BOOKING_BRANCH] FOREIGN KEY([Branch_id])
REFERENCES [dbo].[BRANCH] ([Branch_id])
GO
ALTER TABLE [dbo].[BOOKING] CHECK CONSTRAINT [FK_BOOKING_BRANCH]
GO
ALTER TABLE [dbo].[BOOKING]  WITH CHECK ADD  CONSTRAINT [FK_BOOKING_CILENT] FOREIGN KEY([Client_id])
REFERENCES [dbo].[CLIENT] ([Client_id])
GO
ALTER TABLE [dbo].[BOOKING] CHECK CONSTRAINT [FK_BOOKING_CILENT]
GO
ALTER TABLE [dbo].[BOOKING]  WITH CHECK ADD  CONSTRAINT [FK_BOOKING_COMBO] FOREIGN KEY([Combo_id])
REFERENCES [dbo].[COMBO] ([Combo_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BOOKING] CHECK CONSTRAINT [FK_BOOKING_COMBO]
GO
ALTER TABLE [dbo].[BOOKING]  WITH CHECK ADD  CONSTRAINT [FK_BOOKING_STAFF] FOREIGN KEY([Staff_id])
REFERENCES [dbo].[STAFF] ([Staff_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BOOKING] CHECK CONSTRAINT [FK_BOOKING_STAFF]
GO
ALTER TABLE [dbo].[BOOKINGDETAIL]  WITH CHECK ADD  CONSTRAINT [FK_BOOKINGDETAIL_BOOKING] FOREIGN KEY([Booking_id])
REFERENCES [dbo].[BOOKING] ([Booking_id])
GO
ALTER TABLE [dbo].[BOOKINGDETAIL] CHECK CONSTRAINT [FK_BOOKINGDETAIL_BOOKING]
GO
ALTER TABLE [dbo].[BOOKINGDETAIL]  WITH CHECK ADD  CONSTRAINT [FK_BOOKINGDETAIL_SERVICE] FOREIGN KEY([Service_id])
REFERENCES [dbo].[SERVICE] ([Service_id])
GO
ALTER TABLE [dbo].[BOOKINGDETAIL] CHECK CONSTRAINT [FK_BOOKINGDETAIL_SERVICE]
GO
ALTER TABLE [dbo].[CART]  WITH CHECK ADD  CONSTRAINT [FK_CART_CILENT] FOREIGN KEY([user_id])
REFERENCES [dbo].[CLIENT] ([Client_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CART] CHECK CONSTRAINT [FK_CART_CILENT]
GO
ALTER TABLE [dbo].[CART]  WITH CHECK ADD  CONSTRAINT [FK_CART_PRODUCT] FOREIGN KEY([Product_id])
REFERENCES [dbo].[PRODUCT] ([Product_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CART] CHECK CONSTRAINT [FK_CART_PRODUCT]
GO
ALTER TABLE [dbo].[CLIENT]  WITH CHECK ADD  CONSTRAINT [FK_CILENT_ROLE] FOREIGN KEY([Role_id])
REFERENCES [dbo].[ROLE] ([Role_id])
GO
ALTER TABLE [dbo].[CLIENT] CHECK CONSTRAINT [FK_CILENT_ROLE]
GO
ALTER TABLE [dbo].[COMBODETAIL]  WITH CHECK ADD  CONSTRAINT [FK_COMBODETAIL_COMBO] FOREIGN KEY([Combo_id])
REFERENCES [dbo].[COMBO] ([Combo_id])
GO
ALTER TABLE [dbo].[COMBODETAIL] CHECK CONSTRAINT [FK_COMBODETAIL_COMBO]
GO
ALTER TABLE [dbo].[COMBODETAIL]  WITH CHECK ADD  CONSTRAINT [FK_COMBODETAIL_SERVICE] FOREIGN KEY([Service_id])
REFERENCES [dbo].[SERVICE] ([Service_id])
GO
ALTER TABLE [dbo].[COMBODETAIL] CHECK CONSTRAINT [FK_COMBODETAIL_SERVICE]
GO
ALTER TABLE [dbo].[PRODUCT]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_PRODUCTTYPE] FOREIGN KEY([Product_type_id])
REFERENCES [dbo].[PRODUCTTYPE] ([Product_type_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PRODUCT] CHECK CONSTRAINT [FK_PRODUCT_PRODUCTTYPE]
GO
ALTER TABLE [dbo].[PRODUCT]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_PROVIDER] FOREIGN KEY([Provider_id])
REFERENCES [dbo].[PROVIDER] ([Provider_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PRODUCT] CHECK CONSTRAINT [FK_PRODUCT_PROVIDER]
GO
ALTER TABLE [dbo].[SCHEDULEDETAIL]  WITH CHECK ADD  CONSTRAINT [FK_SCHEDULEDETAIL_SCHEDULE] FOREIGN KEY([Schedule_id])
REFERENCES [dbo].[SCHEDULE] ([Schedule_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SCHEDULEDETAIL] CHECK CONSTRAINT [FK_SCHEDULEDETAIL_SCHEDULE]
GO
ALTER TABLE [dbo].[SCHEDULEDETAIL]  WITH CHECK ADD  CONSTRAINT [FK_SCHEDULEDETAIL_STAFF1] FOREIGN KEY([Staff_id])
REFERENCES [dbo].[STAFF] ([Staff_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SCHEDULEDETAIL] CHECK CONSTRAINT [FK_SCHEDULEDETAIL_STAFF1]
GO
ALTER TABLE [dbo].[SERVICE]  WITH CHECK ADD  CONSTRAINT [FK_SERVICE_ServiceType] FOREIGN KEY([Service_type_id])
REFERENCES [dbo].[SERVICETYPE] ([Service_type_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SERVICE] CHECK CONSTRAINT [FK_SERVICE_ServiceType]
GO
ALTER TABLE [dbo].[STAFF]  WITH CHECK ADD  CONSTRAINT [FK_STAFF_BRANCH] FOREIGN KEY([Branch_id])
REFERENCES [dbo].[BRANCH] ([Branch_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[STAFF] CHECK CONSTRAINT [FK_STAFF_BRANCH]
GO
ALTER TABLE [dbo].[STAFF]  WITH CHECK ADD  CONSTRAINT [FK_STAFF_ROLE] FOREIGN KEY([Role_id])
REFERENCES [dbo].[ROLE] ([Role_id])
GO
ALTER TABLE [dbo].[STAFF] CHECK CONSTRAINT [FK_STAFF_ROLE]
GO
/****** Object:  StoredProcedure [dbo].[GetSalesSummaryByMonth]    Script Date: 12/22/2023 6:59:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Create the stored procedure
CREATE PROCEDURE [dbo].[GetSalesSummaryByMonth]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        YEAR(b.[Date]) AS [Year],
        MONTH(b.[Date]) AS [Month],
        SUM(bd.[Quantity]) AS QuantitySold,
        SUM(bd.[Quantity] * bd.[Price]) AS TotalRevenue
    FROM
        [dbo].[BILL] b
    INNER JOIN
        [dbo].[BILLDETAIL] bd ON b.[Bill_id] = bd.[Bill_id]
    GROUP BY
        YEAR(b.[Date]), MONTH(b.[Date])
    ORDER BY
        [Year] DESC, [Month] DESC;
END

GO
