.cart-container {
    .cart-title {
        font-size: 2rem;
        padding: 2rem 2rem 0 2rem;
    }
    .cart-main {
        min-height: 610px;
        .cart-list {
            display: flex;
            justify-content: space-between;
            .cart-item {
                display: flex;
                gap: 2rem;
                padding: 1rem 0;
                border-bottom: 1px solid #ddd;

                .cart-item-box {
                    display: flex;
                    gap: 1rem;
                    img {
                        width: 64px;
                        height: 64px;
                        object-fit: contain;
                    }

                    p {
                        color: black;
                        font-size: 1rem;
                    }

                    .cart-item-price {
                        padding: 0.5rem 0;
                        font-weight: 600;
                    }

                    .cart-item-button {
                        .cart-item-button-box {
                            display: flex;
                            width: 40%;
                            span {
                                padding: 0.5rem 1rem;
                                border: 1px solid #ddd;
                            }

                            .button-decrease {
                                border-radius: 8px 0 0 8px;
                                background: #eee;
                                &:hover {
                                    cursor: pointer;
                                }
                            }

                            .button-number {
                                border-top: 1px solid #ddd;
                                border-bottom: 1px solid #ddd;
                            }

                            .button-increase {
                                border-radius: 0 8px 8px 0;
                                background: #eee;
                                &:hover {
                                    cursor: pointer;
                                }
                            }
                        }
                        form {
                            width: 300px;
                            margin: 0 auto;
                            text-align: center;
                            padding-top: 50px;

                            .value-button {
                                display: inline-block;
                                border: 1px solid #ddd;
                                margin: 0px;
                                width: 40px;
                                height: 20px;
                                text-align: center;
                                vertical-align: middle;
                                padding: 11px 0;
                                background: #eee;
                                -webkit-touch-callout: none;
                                -webkit-user-select: none;
                                -khtml-user-select: none;
                                -moz-user-select: none;
                                -ms-user-select: none;
                                user-select: none;

                                :hover {
                                    cursor: pointer;
                                }
                            }

                            #decrease {
                                margin-right: -4px;
                                border-radius: 8px 0 0 8px;
                            }

                            #increase {
                                margin-left: -4px;
                                border-radius: 0 8px 8px 0;
                            }

                            #input-wrap {
                                margin: 0px;
                                padding: 0px;
                            }

                            input#number {
                                text-align: center;
                                border: none;
                                border-top: 1px solid #ddd;
                                border-bottom: 1px solid #ddd;
                                margin: 0px;
                                width: 40px;
                                height: 40px;
                            }
                        }
                    }
                }
            }

            .cart-list-delete {
                display: flex;
                justify-content: center;
                align-items: center;

                span {
                    padding: 1rem;
                    cursor: pointer;
                    border-radius: 5px;
                    background: #e65b65;
                    color: white;
                }
            }
        }

        .cart-checkout-box {
            display: flex;
            justify-content: space-between;
            padding: 2rem;
            .cart-checkout-select-all {
                display: flex;
                align-items: center;
                gap: 1rem;
                input {
                    width: 24px;
                    height: 24px;
                    cursor: pointer;
                }

                p {
                    font-size: 16px;
                    color: black;
                    font-weight: 600;
                }
            }

            .cart-checkout-button {
                display: flex;
                gap: 1rem;
                button {
                    padding: 1rem;
                    background: #ffe985;
                    border: 1px solid;
                    border-radius: 5px;
                }
                p {
                    font-size: 16px;
                    color: black;
                    font-weight: 600;
                }
            }
        }
    }
}
