.hero-banner-container {
    .booking-click {
        background: linear-gradient(
                0deg,
                rgba(233, 235, 242, 0),
                rgb(232, 237, 244)
            )
            rgba(255, 255, 255, 0.8);
        top: 73%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        padding: 0.5rem 1rem 1rem 1rem;
        border-radius: 5px;

        h3 {
            font-size: 23px;
            font-weight: 600;
        }
        p {
            color: #686868;
            font-size: 18px;
        }

        .booking-click-link {
            background: #fc2;
            color: black;
            width: 100%;
            display: flex;
            justify-content: center;
            padding: 1rem;
            border-radius: 5px;
            opacity: 0.8;

            &:hover {
                opacity: 1;
            }
        }
    }
}
