section {
    background: #eeeeee;

    .container-service {
        background: #fff;
        padding: 1rem;

        .service-block-first {
            margin-top: 1rem;
        }
        .service-block {
            margin-bottom: 2rem;
            .service-block-title {
                position: relative;
                padding: 0.1rem 0.5rem 0.1rem 1rem;
                margin-bottom: 1rem;
                font-size: 23px;
                font-weight: 600;
                &::before {
                    content: "";
                    position: absolute;
                    width: 8px;
                    height: 100%;
                    background: #fc3;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }

            .service-block-img {
                transition: transform 0.3s;
                &:hover {
                    transform: scale(1.02);
                }
            }

            .service-block-text {
                text-align: center;
                margin: 2rem 0;
                font-size: 24px;
                font-weight: 700;
            }

            .service-block-list-container {
                img {
                    transition: transform 0.3s;
                    &:hover {
                        transform: scale(1.02);
                    }
                }
            }
        }
    }
}
