.shop-container {
    .shop-title {
        background-color: #ffe985;
        padding: 2rem;

        &:first-child {
            font-size: 1.875rem;
            line-height: 2.25rem;
        }
        &:last-child {
            font-size: 1.5rem;
            line-height: 2rem;
        }
    }

    .shop-wrapper {
        background-color: #ffe985;
        .shop-main-menu {
            display: flex;
            justify-content: center;
            background-color: #fff;
            border-radius: 10px 10px 0 0;

            .shop-main-menu-bar {
                display: flex;

                li {
                    padding: 1rem 1.25rem;
                    font-size: 1.5rem;
                    line-height: 2rem;
                    cursor: pointer;
                    transition: transform 0.3s;
                    box-sizing: border-box;
                    transition: all ease;
                    &.active {
                        border-bottom: 3px solid #ffe985;
                    }
                    a {
                        padding: 0.5rem 1.25rem;
                    }
                }
            }
        }
    }
    .shop-main-content {
        .shop-main-card {
            display: grid;
            gap: 1rem;
            grid-template-columns: repeat(4, minmax(0, 1fr));
            .shop-main-item {
                border-radius: 0.375rem;
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                display: flex;
                flex-direction: column;

                div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0.5rem;
                    img {
                        height: 208px;
                        object-fit: contain;
                    }
                }
                &:hover {
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                }

                h3 {
                    color: black;
                    font-weight: 300;
                    padding: 0rem 1rem 0 1rem;
                }
                .shop-main-item-name {
                    height: 3rem;
                    text-transform: capitalize;
                    font-size: 0.875rem;
                    line-height: 1.25rem;
                }
                p {
                    color: black;
                    font-weight: 700;
                    font-size: 20px;
                    padding: 0rem 1rem 0 1rem;
                }
                .shop-main-item-rating {
                    display: flex;
                    justify-content: flex-start;
                    padding: 0.5rem 1rem 1rem 1rem;
                    svg {
                        color: #ffcc33;
                    }
                }
            }
        }

        .shop-main-show-more {
            padding: 2rem;
            display: flex;
            justify-content: center;

            li {
                &.selected {
                    a {
                        background: #ddd;
                    }
                }
            }
            a {
                padding: 0.7rem 1rem;
                border: 1px solid #ddd;

                &:hover {
                    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
                }
            }
        }
    }

    .shop-blog-container {
        .trending-wrapper {
            .slick-slide > div {
                margin: 0 10px;
            }

            .slick-dots li.slick-active button:before {
                color: orange !important;
            }
            // Reset slick slider css
            .slick-prev {
                left: -10px !important;
                z-index: 1000 !important;
                height: 48px !important;
                width: 44px !important;
                background: #fff !important;
                border: 2px solid #d7d7d7 !important;

                &:hover {
                    background: #eceaea !important;
                }
            }

            .slick-prev::before,
            .slick-next::before {
                font-family: FontAwesome !important;
                color: red !important;
                // content: "\f060" !important;
            }
            .slick-disabled {
                display: none !important;
            }
            .slick-next {
                right: -10px !important;
                z-index: 1000 !important;
                height: 48px !important;
                width: 44px !important;
                background: #fff !important;
                border: 2px solid #d7d7d7 !important;

                &:hover {
                    background: #eceaea !important;
                }
            }
            .trending-container {
                margin: 0 100px;
                display: flex;
                flex-direction: column;
                .trending-title {
                    color: #e54d3e;
                    font-size: 1.875rem;
                    line-height: 2.25rem;
                    border-bottom: 5px solid #fc2;
                    padding-bottom: 1rem;
                    padding-top: 1rem;
                    font-weight: 700;
                }

                .trending-box {
                    .trending-card {
                        img {
                            width: 347px;
                            height: 277px;
                            background-position: center center;
                            background-repeat: no-repeat;
                            background-size: cover;
                        }
                    }
                    .trending-link {
                        border: 2px solid #ddd;
                        border-radius: 5px;
                        display: flex;
                        justify-content: center;
                        padding: 1rem;
                        color: #fc2;

                        &.hover {
                            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
                                rgba(0, 0, 0, 0.12) 0px -12px 30px,
                                rgba(0, 0, 0, 0.12) 0px 4px 6px,
                                rgba(0, 0, 0, 0.17) 0px 12px 13px,
                                rgba(0, 0, 0, 0.09) 0px -3px 5px;
                        }
                    }
                }
            }

            .trending-card {
                img {
                    width: 400px;
                    height: 300px;
                }
            }
        }
    }

    .shop-branding {
        height: 300px;

        p {
            font-size: 30px;
            font-weight: 700;
        }
    }

    .shop-blog {
        height: 300px;

        p {
            font-size: 30px;
            font-weight: 700;
        }
    }
}
